.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
  position: relative; /* This makes sure the button is positioned relative to the container */
}

.content {
  text-align: center;
  position: relative;
}

video {
  width: 300px; /* Adjust size of video */
  border-radius: 8px;
}

.next-button {
  background-color: #ff4081;
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 10px 20px;
  position: absolute; /* Position the button absolutely within the content */
  bottom: 10px; /* Distance from bottom */
  right: 10px; /* Distance from right */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #ff1d6e;
}

.next-button span {
  font-size: 1.5rem; /* Small arrow */
}
